/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
a {
	text-decoration:none;
	outline:none;
}
/* Begin style main */
body {
	background: #e9e9e9;
	color: #666666;
	font-family: 'RobotoDraft', 'Roboto', sans-serif;
	font-size: 14px;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;	
}
#login-form {
	position: relative;
	background: #ffffff;
	border-radius: 5px;
	box-sizing: border-box;
	box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
	transition: .3s ease;
	padding:10px;
	width: 280px;
	max-width: 480px;
	margin: 100px auto 5px;
}
#login-logo {
	position: absolute;
	right: -20px;
	background-color: #fff;
	border-radius: 50%;
	padding: 10px;
	top: -15px;
	box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
	transition: .3s ease;
}
#login-form p {
	padding: 10px 0;
	line-height: 25px;
}
#login-form p.bottom {
	text-align:right;
}
#login-form p.bottom a {
	float:left;
	display:block;
	margin-top:8px;
}
#login-form label {
	cursor:pointer;
}
#login-form input[type="text"], #login-form input[type="password"] {
	width: 228px;
	padding: 10px;
	border:0;
	color:#212121;
	border-bottom: 1px solid #757575;
	font-size:16px;
	background-color:transparent;
	outline:none;
}
#login-form input[type="checkbox"], input[type="checkbox"] {
	background: #fbfbfb;
	border: 1px solid #b4b9be;
	color: #555;
	clear: none;
	cursor: pointer;
	display: inline-block;
	line-height: 0;
	height: 16px;
	margin: -4px 4px 0 0;
	outline: 0;
	padding: 0!important;
	text-align: center;
	vertical-align: middle;
	width: 16px;
	min-width: 16px;
	-webkit-appearance: none;
	box-shadow: inset 0 1px 2px rgba(0,0,0,.1);
	transition: .05s border-color ease-in-out;
}
#login-form input[type="checkbox"]:checked:before, input[type="checkbox"]:checked:before {
	margin: 7px 0 0 0px;
	color: #1e8cbe;
	content:'\2714';
	font-size:18px;
	display:block;
}
#login-form input[type="submit"] {
	cursor: pointer;
	background: #ed2553;
	border-radius: 3px;
	border:none;
	box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
	padding: 10px 20px;
	color: #ffffff;
	transition: 0.3s ease;
}
body.login #footer-wrapper {
	text-align:center;
	padding:10px 0;
	font-size:12px;
	margin-top:20px;
}
.message {
	background-color:#dff0d8;
	border-radius: 3px;
	color:#3c763d;
	box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
	border:1px solid #d6e9c6;
}
.message p {
	padding:10px;
}
.error {
	color:#a94442;
	background-color:#f2dede;
	border-color:#ebccd1;
}
.warning {
	color:#8a6d3b;
	background-color: #fcf8e3;
	border-color: #faebcc;
}
body.login .message {
	width: 280px;
        max-width: 480px;
	margin:15px auto 5px;
}
/* Style main */
#aside {
	background-color:#fff;
	width:288px;
	box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12);
	height:100%;
	position:fixed;
	z-index:10;
}
#aside-top {
	width:100%;
	height:60px;
	box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12);
	border-bottom:1px solid rgba(0,0,0,.12);
}
#aside-logo {
	display: inline-block;
	width: 40px;
	height: 40px;
	margin-left: 10px;
	margin-top: 10px;
}
#content-wrapper{
	padding-left:288px;
	transition-property: padding-left;
}
#header-wrap {
	position:fixed;
	left:288px;
	top:0;
	right:0;
	transition-property: left;
	transition-duration: 150ms;
	transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
	z-index:10;
}
#header-inner {
	background-color:#1565c0;
	height:60px;
	color:#fff;
	top:0;
	z-index:10;
}
#content {
	padding-top:60px;
}
#content-inner {
	padding:24px;
}
.data-table {
	background-color:#fff;
	padding:15px;
}
table.list-table {
	width:100%;
}
table.list-table th, table.list-table td {
	text-align:left;
	padding:12px 8px;
	border-bottom:1px solid #ccc;
	vertical-align:middle;
}
table.list-table th {
	font-size:12px;
	font-weight:normal;
}
table.list-table th.checkbox, table.list-table td.checkbox {
	width:18px;
	text-align:center;
}
table.list-table th.tools, table.list-table td.tools {
	text-align:right;
}
table.list-table tbody tr:last-child td {
	border-bottom-color:#fff;
}
.navTools {
	padding:24px 0;
	text-align:right;
	margin:0 0 5px;
}
.pageNavi .total {
	font-weight:bold;
}
.pageNavi .total, .pageNavi .first-page, .pageNavi .current, .pageNavi .next-page, .pageNavi .last-page {
	display:inline-block;
	padding:7px 9px;
}
.pageNavi input.navi-page {
	background-color:transparent;
	border:none;
	width:45px;
	text-align:right;
	font-size:14px;
	margin:0;
	color:#666;
}
.pageNavi .next-page {
	background-color:#357ae8;
	color:#fff;
	border-radius:2px;
}
#footer-wrapper {
	color: #9e9e9e;
	padding: 8px 24px;
	text-align:right;
}
